.item_form {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin: 20px 0px;
  padding: 0px 25px 0px 15px;
}

/* ------ item image ----- */

.item_image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  margin-right: 40px;
}

.first_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 7px;
}

.img_zoom_container {
  position: absolute;
  top: 0px;
  height: 375px;
  width: 500px;
  z-index: 1;
  display: none;
}

.img_zoom {
  display: block;
  margin: auto;
  object-fit: cover;
  height: 375px;
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.first_image .img_container {
  position: relative;
  height: 375px;
  width: 500px;
}

.first_image .img_preview {
  display: block;
  margin: auto;
  object-fit: cover;
  height: 375px;
  width: 500px;
}

.remaining_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.remaining_image .img_container {
  position: relative;
  height: 90px;
  width: 120px;
  overflow: hidden;
}

.remaining_image .img_preview {
  display: block;
  margin: auto;
  object-fit: cover;
  height: 90px;
  width: 120px;
}

.img_container {
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.5);
}

.img_preview {
  border: 1px solid lightgray;
  border-radius: 2px;
  transition: all 0.5s;
}

.remaining_image .img_container:hover .img_preview {
  transform: scale(1.1);
}

.img_container label {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.img_container input {
  display: none;
}

/* ------ item details ----- */

.item_details {
  font-size: 1.5rem;
  font-weight: 500;
  flex: 1;
}

.details {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 25px;
}

.details label {
  width: 100px;
}

.details p {
  width: 15px;
}

.details input {
  word-wrap: break-word;
  flex: 1;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 5px;
}

.details textarea {
  word-wrap: break-word;
  height: 120px;
  flex: 1;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 5px;
}

.details select {
  text-align: center;
  width: 180px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------ submit button ----- */

.submit_button {
  position: absolute;
  right: 25px;
  bottom: 0px;
  font-size: 1.5rem;
  color: ghostwhite;
  text-align: center;
  align-content: center;
  height: 30px;
  width: 100px;
  padding: 0px 10px;
  border-radius: 15px;
  background-color: #3399ff;
  cursor: pointer;
}

.submit_button:hover {
  background-color: #0066cc;
}
